---
layout: default
---

<body id="home">
	<header>
		<h1 id="blog-title">{{ site.title }}</h1>
		<p class="description p-note">{{ site.subtitle }}</p>
		<nav>
			{% for link in site.links %}
			<a class="pinned" href="{{ link[1] }}">{{ link[0] }}</a>
			{% endfor %}
		</nav>
	</header>
	<section id="wrapper" itemscope="" itemtype="http://schema.org/Blog">
		{% for post in site.posts %}
		{% if post.pinned == true %}
		<article class="norm h-entry" itemtype="http://schema.org/BlogPosting">
			{% if post.title %}
			<h2 class="post-title" itemprop="name">
				<svg style="width: 0.5em; margin-left: -0.775em;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbtack" class="svg-inline--fa fa-thumbtack fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M298.028 214.267L285.793 96H328c13.255 0 24-10.745 24-24V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v48c0 13.255 10.745 24 24 24h42.207L85.972 214.267C37.465 236.82 0 277.261 0 328c0 13.255 10.745 24 24 24h136v104.007c0 1.242.289 2.467.845 3.578l24 48c2.941 5.882 11.364 5.893 14.311 0l24-48a8.008 8.008 0 0 0 .845-3.578V352h136c13.255 0 24-10.745 24-24-.001-51.183-37.983-91.42-85.973-113.733z"></path></svg>
				<a href="{{ post.url | relative_url }}" class="u-url">{{ post.title }}</a>
			</h2>
			<time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" content="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date_to_string: 'ordinal', 'US' }}</time>
			<div lang="en" dir="auto" class="book p-summary">
				{{ post.excerpt }}
			</div>
			<a class="read-more" href="{{ post.url | relative_url }}">Read more...</a>
			{% endif %}
		</article>
		{% endif %}
		{% endfor %}
		{% for post in paginator.posts %}
		{% unless post.pinned %}
		<article class="norm h-entry" itemtype="http://schema.org/BlogPosting">
			{% if post.title %}
			<h2 class="post-title" itemprop="name">
				<a href="{{ post.url | relative_url }}" class="u-url">{{ post.title }}</a>
			</h2>
			<time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" content="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date_to_string: 'ordinal', 'US' }}</time>
			<div lang="en" dir="auto" class="book p-summary">
				{{ post.excerpt }}
			</div>
			<a class="read-more" href="{{ post.url | relative_url }}">Read more...</a>
			{% endif %}
		</article>
		{% endunless %}
		{% endfor %}

		{% if paginator.next_page or paginator.previous_page %}
		<nav id="paging" class="content-container clearfix">
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}">{{ site.older_text | default: '⇠ Older' }}</a>
			{% endif %}

			{% if paginator.previous_page %}
			<a style="float:right;" href="{{ paginator.previous_page_path }}">{{ site.newer_text | default: 'Newer ⇢' }}</a>
			{% endif %}
		</nav>
		{% endif %}
	</section>
</body>
